Use ":authority" pseudo-header instead of "host" header

From [RFC 7250, section 8.1.2.3](https://tools.ietf.org/html/rfc7540#section-8.1.2.3):
```
The ":authority" pseudo-header field includes the authority portion of the target URI.
```
```
Clients that generate HTTP/2 requests directly SHOULD use the ":authority" pseudo-header
field instead of the Host header field.
```